/*
*    File Name  : Appointment.css
*    Author     : Joseph Schell
*    Date       : 12/23/2018
*/

#userNameComboBox
{
    -fx-background-color: #FFFFFF; 
    -fx-border-color: #555555; 
    -fx-border-radius: 3;
}

#customerNameComboBox
{
    -fx-background-color: #FFFFFF; 
    -fx-border-color: #555555; 
    -fx-border-radius: 3;
}

#saveButton
{
    -fx-background-color: linear-gradient(#03BFE3,#313131); 
    -fx-background-radius: 10; 
    -fx-font-weight: bold; -fx-text-fill: #FFFFFF;
}

#cancelButton
{
    -fx-background-color: linear-gradient(#03BFE3,#313131); 
    -fx-background-radius: 10; 
    -fx-font-weight: bold; -fx-text-fill: #FFFFFF;
}
